@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-heading: "Space Mono", monospace;
  --font-body: "Plus Jakarta Sans", sans-serif;

  --color-moyem-blue: #0f387d;
  --color-moyem-accent: #416bff;
  --color-moyem-teal: #08b9b5;
  --color-moyem-dark: #0d5553;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #ffffff;
  color: #101828;
}
